/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
  font-family: CorporateSRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 10vh;
  height: 100vh;
  overflow: hidden;
  background: #333;
}
.navbar-brand{
  height: 90px;
}
.navbar-brand>img{
  display: inline-block;
}
.footer{
  padding: 10px 0;
  height: 10vh;
}
.navbar-inverse{color: #FFF;}
section {
  width: 100%;
  position: relative;
}

.content{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 50vw;
  margin: auto;
}


.carousel-control{
  width: 5%;
  background: none !important;
  color: #666;
}
.carousel-indicators{
  bottom: -40px;
}
.carousel-indicators li{
  border-color: #666;
}
.carousel-inner .item{
  width: 90vw;
  margin: 0 auto;
}


/* Menu icons */
.nav>li>a:hover, .nav>li>a:focus{
  color: #00adef !important;
}
.nav-icon{
  height: 30px;
  margin: 5px 0;
}
.vehicles{
  background-image: url(/img/icons/car-grey.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}

a:hover .vehicles{
  background-image: url(/img/icons/car-blue.png);
}